<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
firststr= "rachanachinthala" #initializing string
len(firststr) #gives length of the string

16

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
my_str = "rachanachinthala"#initializing string

  
# using dict.get() to get frquency of occurence of each character in a string

ab = {} 

for keys in sec_str: 

    ab[keys] = ab.get(keys, 0) + 1 

print (str(ab))

{'r': 1, 'a': 5, 'c': 2, 'h': 3, 'n': 2, 'i': 1, 't': 1, 'l': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [3]:
my_list=[10,10,30,40,50,50,1,2,3] #initializing list
sum(my_list)#sum gives the sum of all the items in a list

196

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [5]:

def change_char(my_str):
  firstchar = my_str[0]
  replace_str = my_str.replace(firstchar, '$')
  final_str = firstchar + replace_str[1:]

  return final_str

print(change_char('rachanarao'))

rachana$ao

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [6]:

a=float(input("enter a value :"))
b=float(input("enter b value :"))
S=3.14*(1+(a/b))**3
print("S=",S)

enter a value :8
enter b value :2
S= 392.5

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
concatenated_dic = {}
for d in (dic1, dic2, dic3): concatenated_dic.update(d)
print(concatenated_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [8]:
t=('one',2,3.0)#intializing tuple
print('one' in t)
print(6 in t)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [9]:
my_set = set([10,20,45,67,1,3,4,8])#intializing set
maxvalue=max(my_set)#max gives maximum value
minvalue=min(my_set)#min gives min value
print('maximum value in the given set is :', maxvalue)
print('minimum value in the given set is :', minvalue)

maximum value in the given set is : 67
minimum value in the given set is : 1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [21]:

import random
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
random.shuffle(student_list)
print(student_list)
def grouped_students(student_list, n):
    size=int(len(student_list)/n)
    extra_size=int(len(student_list)%n)
    grouped_students = [student_list[0+n*i : n*(i+1)] for i in range(size)]
    for i in range(extra_size):
        grouped_students[i%n].append(student_list[-extra_size])
    print(grouped_students)
grouped_students(student_list,3)
#I didn't understand how to divide into five groups. So I tried to divide into seven groups.

['pc0353', 'mv0299', 'dy0091', 'ds0761', 'dd0420', 'vmb0067', 'ss1995', 'tv0119', 'pn0159', 'sg0940', 'bk0301', 'at0768', 'rrk0058', 'nm0547', 'at0739', 'rs0850', 'yye0005', 'vl0135', 'spk0057', 'rak0120', 'msp0174', 'snd0097']
[['pc0353', 'mv0299', 'dy0091', 'snd0097'], ['ds0761', 'dd0420', 'vmb0067'], ['ss1995', 'tv0119', 'pn0159'], ['sg0940', 'bk0301', 'at0768'], ['rrk0058', 'nm0547', 'at0739'], ['rs0850', 'yye0005', 'vl0135'], ['spk0057', 'rak0120', 'msp0174']]