<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [21]:
# Your code here
import random

mylist = range(1,100)
x = random.sample(mylist,12)#gives 12 random numbers from my list
print(x)
a= sorted(x)# sorts in ascending order
print("ascending order:",  a)
b=sorted(x, reverse=True)#sorts in descending order
print("descending order:", b)
#calculating average of the list x
avgofx = sum(x)/len(x)
print('average of the generated random numbers:', avgofx)

[93, 28, 95, 84, 62, 50, 98, 1, 32, 31, 59, 15]
ascending order: [1, 15, 28, 31, 32, 50, 59, 62, 84, 93, 95, 98]
descending order: [98, 95, 93, 84, 62, 59, 50, 32, 31, 28, 15, 1]
average of the generated random numbers: 54.0

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [1]:
# Your code here
a=input("enter first sentence:" )
i= list(a.split())# gives the list of charatcterss
print(i)
b=input("enter second sentence:" )
j= list(b.split())
print(j)
contained = [x for x in i if x in j]
print("words occurind in both lists:", contained)# gives common words 
#removing punctuation
punctuation= ',:;.?!'
for x in a:
    if x in punctuation:
        a= a.replace(x,"")

for x in b:
    if x in punctuation:
        b= b.replace(x,"")

enter first sentence:Hello ! I am Rachana .
['Hello', '!', 'I', 'am', 'Rachana', '.']
enter second sentence:Alas ! Am I alive ? This is my first python program
['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program']
words occurind in both lists: ['!', 'I']

In [2]:
print(a)
print(b)

Hello  I am Rachana
Alas  Am I alive  This is my first python program

In [9]:
#counting the frequency of vowles in both the sentences
c=a+b
c=c.lower()
print(c)
c_vowel={}
for i in "aeiou":
    count=c.count(i)
    c_vowel[i]=count
c_vowel

hello  i am rachana  alas  am i alive  this is my first python program

{'a': 9, 'e': 2, 'i': 6, 'o': 3, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [5]:
# Your code here

pi = 3.1415926535897931

print('r\tV\n')
r=1
while r<=10:
    V= 4.0/3.0*pi* r**3
    print(r,'\t',V,'\n')
    r+=1

r	V

1 	 4.1887902047863905

2 	 33.510321638291124

3 	 113.09733552923254

4 	 268.082573106329

5 	 523.5987755982989

6 	 904.7786842338603

7 	 1436.7550402417319

8 	 2144.660584850632

9 	 3053.6280592892786

10 	 4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [9]:
# Your code here
#4(1)
import pandas as pd
my_dataframe=pd.read_csv(r"C:\Users\racha\Assignment1_denton_housing.csv",index_col="year")
my_dataframe.sort_index(axis=0,ascending=True,inplace=True)
my_dataframe2=my_dataframe[my_dataframe.title_field=="Occupied Housing Units"].sort_index(axis=0,ascending=True)
my_dataframe2=my_dataframe2.reset_index()

#Calculating the difference in the number of Occupied Housing Units for the consecutive years.
x=my_dataframe2[["year","value"]].values

#Finding the difference in number of occupied housing units
difference_in_occupied=[]
for i in range(len(x)-1):
  difference_in_occupied.append(x[i+1][1]-x[i][1])
difference_in_occupied

#Printing the 'difference' value for consecutive years
print("years\t\t   Difference")
for i in range(2008,2014):
  print(i,"-",i+1,"           ",difference_in_occupied[i-2008])

print("\n")

#Printing the ascending order

data_2 = [['2008-2009', -795],['2009-2010', 5091],['2010-2011', -303],['2011-2012', 1404],['2012-2013', 1565],['2013-2014', 2622]]  
B = pd.DataFrame(data_2, columns = ['years',   'Difference'])
sorted_difference = B.sort_values('Difference') 

print("The difference in occupied units for consecutive years arranged in ascending order:\n")

print(sorted_difference)

years		   Difference
2008 - 2009             -795
2009 - 2010             5091
2010 - 2011             -303
2011 - 2012             1404
2012 - 2013             1565
2013 - 2014             2622


The difference in occupied units for consecutive years arranged in ascending order:

       years  Difference
0  2008-2009        -795
2  2010-2011        -303
3  2011-2012        1404
4  2012-2013        1565
5  2013-2014        2622
1  2009-2010        5091

In [10]:
#4(2):
my_dataframe.reset_index(inplace=True)
occupied=[]
vacant=[]

#Finding the number of vacant and occupied housing units
for i in range(2008,2015):
  occupied.append((my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Occupied Housing Units")].value.values)/(my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Total Housing Units")].value.values))
  vacant.append((my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Vacant Housing Units")].value.values)/(my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Total Housing Units")].value.values))

#Printing the percentage of housing units which are vacant and occupied
print("Year\tVacant Units\t Occupied Units")
for i in range(2008,2015):
  print(i,"\t\t","{0:.0f}%".format(vacant[i-2008][0]*100),"\t\t","{0:.0f}%".format(occupied[i-2008][0]*100))

Year	Vacant Units	 Occupied Units
2008 		 11% 		 89%
2009 		 9% 		 91%
2010 		 8% 		 92%
2011 		 9% 		 91%
2012 		 7% 		 93%
2013 		 9% 		 91%
2014 		 6% 		 94%

In [14]:
#4(3):
a=[]
b=[]

for i in range(2008,2015):
  a.append(occupied[i-2008][0])
  b.append(vacant[i-2008][0])

print("\t\t Year\t Value")

#Highest number of housing units were vacant and occupied

for i in enumerate(occupied,start=2008):
  if(i[1][0]==max(a)):
    print("Occupied Units \t",i[0],"\t",(my_dataframe[(my_dataframe.year==i[0])&(my_dataframe.title_field=="Occupied Housing Units")].value.values)[0])
    break
for i in enumerate(vacant,start=2008):
  if(i[1][0]==max(b)):
    print("Vacant Units \t",i[0],"\t",(my_dataframe[(my_dataframe.year==i[0])&(my_dataframe.title_field=="Vacant Housing Units")].value.values)[0])
    break

		 Year	 Value
Occupied Units 	 2014 	 46295
Vacant Units 	 2008 	 4483

In [16]:
#4(4):
from scipy import stats

my_dataframe[my_dataframe.title_field=="Total Housing Units"].value.values
print("The harmonic mean:\n")
stats.hmean(my_dataframe[my_dataframe.title_field=="Total Housing Units"].value.values)

The harmonic mean:

44398.28543969185